/* Reset settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Doppio punto per uscire dalla cartella */
.header__logo {
    width: 200px;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
}
